@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Resources
@using Humanizer

@inject IStringLocalizer<Columns> Loc

@{
    var stateIcon = StateColumnDisplay.GetStateIcon(Resource, Loc);
}

<FluentIcon Title="@stateIcon.Tooltip"
            Value="@stateIcon.Icon"
            Color="@stateIcon.Color"
            Class="severity-icon" />

@if (string.IsNullOrEmpty(Resource.State))
{
    <span>Unknown</span>
}
else
{
    <span>@Resource.State.Humanize()</span>
}

<UnreadLogErrorsBadge UnviewedErrorCounts="UnviewedErrorCounts" Resource="@Resource" />

@code {
    [Parameter, EditorRequired]
    public required ResourceViewModel Resource { get; set; }


    [Parameter, EditorRequired]
    public required Dictionary<OtlpApplication, int>? UnviewedErrorCounts { get; set; }
}
